body
{
    color: black;
    text-align: center;
    font-family: "courier";
    font-size: large;
    font-display: ;color:royalblue;

}::-webkit-textfield-decoration-container

::-webkit-slider-thumb

padding  980%

text - article
